<form action="<%= action %>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
    <label>Username:
        <input id="username" name="user[username]" type="text">
    </label>
    <br>

    <label>Password:
        <input id="password" name="user[password]" type="text">
    </label>
    <br>

    <input type="submit" value="<%=submit_value%>">
</form>